CONTENTSTACK_API_KEY=
CONTENTSTACK_DELIVERY_TOKEN=
CONTENTSTACK_ENVIRONMENT=production
CONTENTSTACK_REGION=US
CONTENTSTACK_BRANCH=main

# Content type que contiene el logo del header
CONTENTSTACK_CONTENT_TYPE_UID=global_header

# Entry especifico para global header
CONTENTSTACK_ENTRY_UID=bltaf1d4c11d7b3416d

# UID del campo tipo Asset dentro del content type
CONTENTSTACK_LOGO_FIELD_UID=media

# Opcion requerida dentro de channel.channel para permitir usar el entry
CONTENTSTACK_REQUIRED_CHANNEL_OPTION=FashionMarket
